#info {
  background-image: url(../assets/img/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  padding-block: 120px;
 }
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
header {
  padding-bottom: 56px;
  position: relative;
}
#profile {
  padding: 8px;
}
#code{
  position: absolute;
  top: 77px;
  right: 0px;
}

#text-intro {
  text-align: center;
  padding-bottom: 80px;
  width: 680px;

  h2{
    margin-bottom: 8px;
  }
  span{
    color: var(--red);
  }
  h1{
    margin-bottom: 20px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 16px;

  span{
    display: inline-flex;
    align-items: center;
    font: var(--text-md);
    padding: 8px 16px;
    gap: 8px;
    background-color: var(--gray-300);
    border-radius:29px;
    p{
      color: var(--gray-500);
    }
  }
}

#seta {
  display: flex;
  margin-block: 94px 57px;
  margin-inline: auto;
}