#services {
  background-color: var(--gray-100);
  height: auto;
  padding-block: 88px 120px;
}
#head-s{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 0px 56px;
  text-align: center;
  margin-inline: auto;

  span{
    color: var(--red);
  }
}
#grid-serv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-inline: 100px;
}
#grid-serv div {
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 156px;
  gap: 20px;
  padding: 20px;
}
#grid-serv img {
  object-fit: contain;
  width: 48px;
  height: 48px;
  text-align: left;
}
